/*-----
* 
{
padding: 0;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
overflow-y: hidden;
}
----*/

html {
    background-image: url(./images/drums.jpg);
    background-size: cover;
 /*   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.header {
    color: white;
    text-shadow: 0 0 5px red;
    text-align: center;
    margin-top: 70px;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
}
.key {
    border: 4px solid black;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.07s;
    width: 80px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0);
    text-shadow: 0 0 5px red;
}

.playing {
    transform: scale(1.1);
    border-color: #ff9696;
    box-shadow: 0 0 1rem #ff0000;
}

kbd {
    display: block;
    font-size: 30px;
}